.root {
	border-radius: 0.4rem;
	background-image: linear-gradient(125deg, rgb(var(--v-color-11)), rgb(var(--v-color-8)), rgb(var(--v-color-6)));

	&:hover {
		background-image: linear-gradient(125deg, rgb(var(--v-color-12)), rgb(var(--v-color-8)), rgb(var(--v-color-7)));
	}

	&:active {
		background-image: linear-gradient(125deg, rgb(var(--v-color-12)), rgb(var(--v-color-9)), rgb(var(--v-color-8)));
	}

	&[data-disabled] {
		opacity: 0.8;
		pointer-events: none;
		color: rgb(var(--v-color-8));
	}
}

.inner {
	border-radius: 0.35rem;
	background-image: linear-gradient(125deg, rgb(var(--v-color-3)), rgb(var(--v-color-1)));

	&:hover {
		background-image: linear-gradient(125deg, rgb(var(--v-color-4)), rgb(var(--v-color-1)));
	}

	&:active {
		background-image: linear-gradient(125deg, rgb(var(--v-color-5)), rgb(var(--v-color-2)));
	}
}
