---
import type { HTMLAttributes } from "astro/types";

import propsplit from "propsplit";

import * as ButtonKlass from "./Button.klass";

import { getButtonAttrs } from "./../attributes/button";
import type { ButtonOptions } from "./../attributes/button";

import { ClassesKeys, classex } from "~/components/classes";

type Props = Omit<HTMLAttributes<"a">, "href"> & { href: string } & ButtonOptions & ButtonKlass.Variants & ButtonKlass.InnerVariants & ButtonKlass.ChildVariants;

const [classes, options, klass, attrs] = propsplit(Astro.props, ClassesKeys, ["disabled"], [...ButtonKlass.Root.vk, ...ButtonKlass.Child.vk]);

const className = classex(ButtonKlass.Root({ color: klass.color, size: klass.size }), classes);
const innerClassName = ButtonKlass.Inner({ color: klass.color });
const childClassName = ButtonKlass.Child({ font: klass.font, size: klass.size });
---

<a role="button" {...attrs} class={className} {...getButtonAttrs(options)}>
	<div class={innerClassName}>
		<div class={childClassName}>
			<slot />
		</div>
	</div>
</a>
