---
import type { HTMLAttributes } from "astro/types";

import propsplit from "propsplit";

import * as reklass from "./../.reklass";

import { getRootClassesx } from "~/components/classes";

type Props = HTMLAttributes<"div"> & reklass.GapVariants & reklass.MarginVariants & reklass.PaddingVariants;

const [classes, props] = getRootClassesx(Astro.props);

const [gap, margin, padding, attrs] = propsplit(props, reklass.Gap.rvk, reklass.Margin.rvk, reklass.Padding.rvk);

const className = classes("flex items-center justify-center", reklass.Gap(gap), reklass.Margin(margin), reklass.Padding(padding));
---

<div {...attrs} class={className}>
	<slot />
</div>
