---
import type { HTMLAttributes } from "astro/types";

import propsplit from "propsplit";

import { ClassesKeys, classex } from "./../../classes";

import * as BadgeKlass from "./Badge.klass";

type Props = HTMLAttributes<"span"> & BadgeKlass.Variants;

const [classes, klass, attrs] = propsplit(Astro.props, ClassesKeys, BadgeKlass.Root.vk);

const className = classex(BadgeKlass.Root(klass), classes);
---

<span {...attrs} class={className}>
	<slot />
</span>
