.root {
	@apply rounded-6;
	background-image: linear-gradient(125deg, rgb(var(--v-color-5)), rgb(var(--v-color-2)));
	color: rgb(var(--v-color-11));

	&::before {
		content: "";
		@apply block absolute -z-10 -inset-px rounded-7;
		background-image: linear-gradient(125deg, rgb(var(--v-color-9)), rgb(var(--v-color-6)));
	}

	&::after {
		content: "";
		@apply block absolute z-10 inset-0 rounded-6 overflow-hidden opacity-10;
		background-image: linear-gradient(to bottom, #2222221a, #1111111a), var(--filter-noise-svg);
	}
}
