.root {
	border-radius: 0.4rem;

	&[data-disabled] {
		opacity: 0.8;
		pointer-events: none;
	}
}

.root__color-neutral {
	background-image: linear-gradient(130deg, hsl(var(--neutral-9)), hsl(var(--neutral-6)));

	&:hover {
		background-image: linear-gradient(130deg, hsl(var(--neutral-10)), hsl(var(--neutral-6)));
	}

	&[data-disabled] {
		color: hsl(var(--neutral-8));
	}
}

.root__color-primary {
	background-image: linear-gradient(130deg, hsl(var(--primary-9)), hsl(var(--primary-6)));

	&:hover {
		background-image: linear-gradient(130deg, hsl(var(--primary-10)), hsl(var(--primary-6)));
	}

	&[data-disabled] {
		color: hsl(var(--primary-8));
	}
}

.inner {
	border-radius: 0.35rem;
}

.inner__color-neutral {
	background-image: linear-gradient(130deg, hsl(var(--neutral-5)), hsl(var(--neutral-2)));

	&:hover {
		background-image: linear-gradient(130deg, hsl(var(--neutral-6)), hsl(var(--neutral-3)));
	}
}

.inner__color-primary {
	background-image: linear-gradient(130deg, hsl(var(--primary-5)), hsl(var(--primary-2)));

	&:hover {
		background-image: linear-gradient(130deg, hsl(var(--primary-6)), hsl(var(--primary-3)));
	}
}
