.root {
	border-radius: 0.4rem;
	background-image: linear-gradient(125deg, rgb(var(--v-color-9)), rgb(var(--v-color-6)));

	&:hover {
		background-image: linear-gradient(125deg, rgb(var(--v-color-10)), rgb(var(--v-color-6)));
	}

	&[data-disabled] {
		opacity: 0.8;
		pointer-events: none;
		color: rgb(var(--v-color-8));
	}
}

.inner {
	border-radius: 0.35rem;
	background-image: linear-gradient(125deg, rgb(var(--v-color-5)), rgb(var(--v-color-2)));

	&:hover {
		background-image: linear-gradient(125deg, rgb(var(--v-color-6)), rgb(var(--v-color-3)));
	}
}
