---
import type { HTMLAttributes } from "astro/types";

import * as ContainerKlass from "./Container.klass";
import * as Reklass from "./Reklass";

import { splitProps, getRootClassesx } from "./core";

type Props = HTMLAttributes<"div"> & ContainerKlass.Variants & Reklass.MarginVariants & Reklass.PaddingVariants;

const [classes, props] = getRootClassesx(Astro.props);

const [recipe, margin, padding, attrs] = splitProps(props, ["center", "max"], Reklass.splitter.margin, Reklass.splitter.padding);

const className = classes(ContainerKlass.Root(recipe), Reklass.Margin(margin), Reklass.Padding(padding));
---

<div {...attrs} class={className}>
  <slot />
</div>
