---
import type { HTMLAttributes } from "astro/types";

import propsplit from "propsplit";

import * as ContainerKlass from "./Container.klass";
import * as reklass from "./../reklass";

import { getRootClassesx } from "~/components/classes";

type Props = HTMLAttributes<"div"> & ContainerKlass.Variants & reklass.MarginVariants & reklass.PaddingVariants;

const [classes, props] = getRootClassesx(Astro.props);

const [recipe, margin, padding, attrs] = propsplit(props, ContainerKlass.Root.vk, reklass.Margin.rvk, reklass.Padding.rvk);

const className = classes(ContainerKlass.Root(recipe), reklass.Margin(margin), reklass.Padding(padding));
---

<div {...attrs} class={className}>
	<slot />
</div>
