---
import type { HTMLAttributes } from "astro/types";

import propsplit from "propsplit";

import * as ContainerKlass from "./Container.klass";
import * as reklass from "./../.reklass";

import { ClassesKeys, classex } from "~/components/classes";

type Props = HTMLAttributes<"div"> & ContainerKlass.Variants & reklass.MarginVariants & reklass.PaddingVariants;

const [classes, recipe, margin, padding, attrs] = propsplit(Astro.props, ClassesKeys, ContainerKlass.Root.vk, reklass.Margin.rvk, reklass.Padding.rvk);

const className = classex([ContainerKlass.Root(recipe), reklass.Margin(margin), reklass.Padding(padding)], classes);
---

<div {...attrs} class={className}>
	<slot />
</div>
