@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	-webkit-tap-highlight-color: transparent;
}

body {
	@apply bg-neutral-1 text-neutral-12 font-sans;
}

.lucide {
	stroke-width: 1.5;
	width: 1.25rem;
	height: 1.25rem;
}
