@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--filter-noise-svg: url(/svgs/filter-noise.svg);
}

html {
	-webkit-tap-highlight-color: transparent;
}

body {
	@apply bg-neutral-1 text-neutral-12 font-sans;
}

::-webkit-scrollbar {
	width: 0.4rem;
}

::-webkit-scrollbar-track {
	background: rgb(var(--neutral-2) / 0.5);
}

::-webkit-scrollbar-thumb {
	background: rgb(var(--neutral-5));
}

::-webkit-scrollbar-thumb:hover {
	background: rgb(var(--neutral-8));
}

::-moz-selection {
	background: rgb(var(--info-9));
	color: white;
}

::selection {
	background: rgb(var(--info-9));
	color: white;
}

a {
	@apply no-underline;
}

.lucide {
	stroke-width: 1.5;
	width: 1.25rem;
	height: 1.25rem;
}

.vars-neutral {
	--v-color-1: var(--neutral-1);
	--v-color-2: var(--neutral-2);
	--v-color-3: var(--neutral-3);
	--v-color-4: var(--neutral-4);
	--v-color-5: var(--neutral-5);
	--v-color-6: var(--neutral-6);
	--v-color-7: var(--neutral-7);
	--v-color-8: var(--neutral-8);
	--v-color-9: var(--neutral-9);
	--v-color-10: var(--neutral-10);
	--v-color-11: var(--neutral-11);
	--v-color-12: var(--neutral-12);
}

.vars-primary {
	--v-color-1: var(--primary-1);
	--v-color-2: var(--primary-2);
	--v-color-3: var(--primary-3);
	--v-color-4: var(--primary-4);
	--v-color-5: var(--primary-5);
	--v-color-6: var(--primary-6);
	--v-color-7: var(--primary-7);
	--v-color-8: var(--primary-8);
	--v-color-9: var(--primary-9);
	--v-color-10: var(--primary-10);
	--v-color-11: var(--primary-11);
	--v-color-12: var(--primary-12);
}

.vars-success {
	--v-color-1: var(--success-1);
	--v-color-2: var(--success-2);
	--v-color-3: var(--success-3);
	--v-color-4: var(--success-4);
	--v-color-5: var(--success-5);
	--v-color-6: var(--success-6);
	--v-color-7: var(--success-7);
	--v-color-8: var(--success-8);
	--v-color-9: var(--success-9);
	--v-color-10: var(--success-10);
	--v-color-11: var(--success-11);
	--v-color-12: var(--success-12);
}

.vars-info {
	--v-color-1: var(--info-1);
	--v-color-2: var(--info-2);
	--v-color-3: var(--info-3);
	--v-color-4: var(--info-4);
	--v-color-5: var(--info-5);
	--v-color-6: var(--info-6);
	--v-color-7: var(--info-7);
	--v-color-8: var(--info-8);
	--v-color-9: var(--info-9);
	--v-color-10: var(--info-10);
	--v-color-11: var(--info-11);
	--v-color-12: var(--info-12);
}

.vars-warning {
	--v-color-1: var(--warning-1);
	--v-color-2: var(--warning-2);
	--v-color-3: var(--warning-3);
	--v-color-4: var(--warning-4);
	--v-color-5: var(--warning-5);
	--v-color-6: var(--warning-6);
	--v-color-7: var(--warning-7);
	--v-color-8: var(--warning-8);
	--v-color-9: var(--warning-9);
	--v-color-10: var(--warning-10);
	--v-color-11: var(--warning-11);
	--v-color-12: var(--warning-12);
}

.vars-danger {
	--v-color-1: var(--danger-1);
	--v-color-2: var(--danger-2);
	--v-color-3: var(--danger-3);
	--v-color-4: var(--danger-4);
	--v-color-5: var(--danger-5);
	--v-color-6: var(--danger-6);
	--v-color-7: var(--danger-7);
	--v-color-8: var(--danger-8);
	--v-color-9: var(--danger-9);
	--v-color-10: var(--danger-10);
	--v-color-11: var(--danger-11);
	--v-color-12: var(--danger-12);
}
