.root {
	--l-mb: auto;
	--l-mi: auto;
	@apply block border-none border-0;
	border-radius: 100%;
	background-image: linear-gradient(var(--l-lg-deg), rgb(var(--cn-3)), rgb(var(--cn-6)), rgb(var(--cn-3)));

	&[data-orientation="horizontal"] {
		--l-lg-deg: 90deg;
		margin-block: var(--l-mb);
		@apply w-full h-px;
	}

	&[data-orientation="vertical"] {
		--l-lg-deg: 0deg;
		margin-inline: var(--l-mi);
		@apply w-px h-full;
	}
}

.m0 {
	--l-mb: 0;
	--l-mi: 0;
}

.m1 {
	--l-mb: 0.5rem;
	--l-mi: 0.5rem;
}

.m2 {
	--l-mb: 1rem;
	--l-mi: 1rem;
}

.m3 {
	--l-mb: 1.5rem;
	--l-mi: 1.5rem;
}

.m4 {
	--l-mb: 2rem;
	--l-mi: 2rem;
}
