.root {
	--xpg: rgb(var(--va-3)), rgb(var(--va-2));
	--xbg: rgb(var(--va-9)), rgb(var(--va-6));

	@apply inline-flex relative items-center justify-center select-none rounded-7 text-va-11;
	background: padding-box linear-gradient(125deg, var(--xpg)), border-box linear-gradient(125deg, var(--xbg));

	&::after {
		@apply rounded-7;
	}
}

.md {
	@apply h-4 px-1 text-z1 font-w3;
}
