.root {
	--l-mb: auto;
	--l-mi: auto;
	border-radius: 100%;
	background-image: linear-gradient(var(--l-lg-deg), rgb(var(--neutral-3)), rgb(var(--neutral-6)), rgb(var(--neutral-3)));

	&[data-orientation="horizontal"] {
		--l-lg-deg: 90deg;
		margin-block: var(--l-mb);
		width: 100%;
		height: 1px;
	}

	&[data-orientation="vertical"] {
		--l-lg-deg: 0deg;
		margin-inline: var(--l-mi);
		width: 1px;
		height: 100%;
	}
}

.m0 {
	--l-mb: 0;
	--l-mi: 0;
}

.m1 {
	--l-mb: 0.5rem;
	--l-mi: 0.5rem;
}

.m2 {
	--l-mb: 1rem;
	--l-mi: 1rem;
}

.m3 {
	--l-mb: 1.5rem;
	--l-mi: 1.5rem;
}

.m4 {
	--l-mb: 2rem;
	--l-mi: 2rem;
}
