---
import { Container, HTMLX, Separator, Text } from "~/components/core";
---

<HTMLX title="404" description="page not found">
  <Container max="md" class="p-4">
    <Text family="mono" size="xl" weight={700} align="center">404</Text>
    <div class="py-4">
      <Separator orientation="horizontal" />
    </div>
    <Text family="mono" size="xl" weight={700} align="center">not found</Text>
  </Container>
</HTMLX>
