---
import { Button, Center, Container, Flex, HTMLX, Separator, Text } from "~/components/core";
---

<HTMLX title="404" description="page not found">
	<Container max="lg" p="4">
		<Separator orientation="horizontal" />

		<Flex ai="-:-" jc="-:-" style="height: 1.75rem">
			<Text family="mono" size="5" weight="7" align="-:-">404</Text>
			<Separator orientation="vertical" />
			<Text family="mono" size="5" weight="7" align="-:-">not found</Text>
		</Flex>

		<Separator orientation="horizontal" />

		<Center gap="2">
			<Button as="a" href="/">home</Button>
		</Center>
	</Container>
</HTMLX>
