---
import HTMLX from "~/components/core/HTMLX.astro";

import Text from "~/components/core/Text.astro";
---

<HTMLX title="404" description="page not found">
  <div id="root">
    <Text family="mono" size="xl" weight={700}>404 | not found</Text>
  </div>
</HTMLX>
