---
import { LINK } from "~/const/exports.ts";

import { HTMLX } from "~/components/index.ts";
import { Center, Container, Icon, IconButton, Separator, Text } from "~/components/core/index.ts";
import { AnimatedSVGLogo } from "~/components/flamrdevs/index.ts";
---

<HTMLX>
	<Center>
		<AnimatedSVGLogo
			class="w-[10rem] h-[10rem] xs:w-[17rem] xs:h-[17rem] sm:w-[24rem] sm:h-[24rem] md:w-[31rem] md:h-[31rem] lg:w-[38rem] lg:h-[38rem] xl:w-[45rem] xl:h-[45rem]"
		/>
	</Center>

	<Container max="sm">
		<Separator orientation="horizontal" />
		<Center gap="2" p="2">
			<Text family="mono">flamrdevs</Text>

			<div style="flex-grow: 1;"></div>

			<Separator orientation="vertical" style="height: 1.5rem" />

			<IconButton as="a" href={LINK.GITHUB} target="_blank">
				<Icon i="Github" />
			</IconButton>
		</Center>
		<Separator orientation="horizontal" />
	</Container>
</HTMLX>
