---
import { LINK } from "~/const/exports.ts";

import { HTMLX } from "~/components/index.ts";
import { Center, Container, IconButton, Separator, Text } from "~/components/core/index.ts";
import { Icon } from "~/components/icons/index.tsx";
import { AnimatedSVGLogo } from "~/components/flamrdevs/index.ts";
---

<HTMLX>
	<Container max="md" px="4">
		<Separator orientation="horizontal" />
		<Center gap="2" p={{ __: "1", md: "2" }}>
			<Text family="mono">flamrdevs</Text>

			<div style="flex-grow: 1;"></div>

			<Separator orientation="vertical" style="height: 1.5rem" />

			<IconButton id="light-theme-icon-button" aria-label="Light theme">
				<Icon i="Sun" />
			</IconButton>

			<IconButton id="dark-theme-icon-button" aria-label="Dark theme">
				<Icon i="Moon" />
			</IconButton>

			<Separator orientation="vertical" style="height: 1.5rem" />

			<IconButton as="a" href={LINK.GITHUB} target="_blank" aria-label="GitHub">
				<Icon i="Github" />
			</IconButton>
		</Center>
		<Separator orientation="horizontal" />
	</Container>

	<Center>
		<AnimatedSVGLogo class="w-48 h-48 sm:w-80 sm:h-80 md:w-112 md:h-112 lg:w-144 lg:h-144" />
	</Center>
</HTMLX>

<script>
	import { changeTheme } from "~/stores/theme.ts";

	document.getElementById("light-theme-icon-button")!.addEventListener("click", () => {
		changeTheme("light");
	});
	document.getElementById("dark-theme-icon-button")!.addEventListener("click", () => {
		changeTheme("dark");
	});
</script>
