---
import { GithubIcon, MoonIcon } from "lucide-solid";

import { LINK } from "~/const/exports";

import { Box, Button, ButtonLink, Container, Flex, HTMLX, IconButton, IconButtonLink, Link, Loader, Separator, Text } from "~/components/core";
---

<HTMLX title="UI Core" description="core user interface">
	<Container max="lg" p="4">
		<Flex ai="center">
			<ButtonLink href="/">home</ButtonLink>
			<Separator orientation="vertical" style="height: 1.5rem" />
			<ButtonLink href="/ui">ui</ButtonLink>
		</Flex>
	</Container>

	<Container max="lg" p="4">
		<Box>
			<Text family="mono" size="lg" weight={600}>Color</Text>

			<Box p="2">
				<Box p="1">
					<Text family="mono" size="md" weight={400}>Neutral</Text>

					<Flex gap="2">
						<Box class="w-12 h-12 bg-neutral-1" />
						<Box class="w-12 h-12 bg-neutral-2" />
						<Box class="w-12 h-12 bg-neutral-3" />
						<Box class="w-12 h-12 bg-neutral-4" />
						<Box class="w-12 h-12 bg-neutral-5" />
						<Box class="w-12 h-12 bg-neutral-6" />
						<Box class="w-12 h-12 bg-neutral-7" />
						<Box class="w-12 h-12 bg-neutral-8" />
						<Box class="w-12 h-12 bg-neutral-9" />
						<Box class="w-12 h-12 bg-neutral-10" />
						<Box class="w-12 h-12 bg-neutral-11" />
						<Box class="w-12 h-12 bg-neutral-12" />
					</Flex>
				</Box>

				<Box p="1">
					<Text family="mono" size="md" weight={400}>Primary</Text>

					<Flex gap="2">
						<Box class="w-12 h-12 bg-primary-1" />
						<Box class="w-12 h-12 bg-primary-2" />
						<Box class="w-12 h-12 bg-primary-3" />
						<Box class="w-12 h-12 bg-primary-4" />
						<Box class="w-12 h-12 bg-primary-5" />
						<Box class="w-12 h-12 bg-primary-6" />
						<Box class="w-12 h-12 bg-primary-7" />
						<Box class="w-12 h-12 bg-primary-8" />
						<Box class="w-12 h-12 bg-primary-9" />
						<Box class="w-12 h-12 bg-primary-10" />
						<Box class="w-12 h-12 bg-primary-11" />
						<Box class="w-12 h-12 bg-primary-12" />
					</Flex>
				</Box>

				<Box p="1">
					<Text family="mono" size="md" weight={400}>Success</Text>

					<Flex gap="2">
						<Box class="w-12 h-12 bg-success-1" />
						<Box class="w-12 h-12 bg-success-2" />
						<Box class="w-12 h-12 bg-success-3" />
						<Box class="w-12 h-12 bg-success-4" />
						<Box class="w-12 h-12 bg-success-5" />
						<Box class="w-12 h-12 bg-success-6" />
						<Box class="w-12 h-12 bg-success-7" />
						<Box class="w-12 h-12 bg-success-8" />
						<Box class="w-12 h-12 bg-success-9" />
						<Box class="w-12 h-12 bg-success-10" />
						<Box class="w-12 h-12 bg-success-11" />
						<Box class="w-12 h-12 bg-success-12" />
					</Flex>
				</Box>

				<Box p="1">
					<Text family="mono" size="md" weight={400}>Info</Text>

					<Flex gap="2">
						<Box class="w-12 h-12 bg-info-1" />
						<Box class="w-12 h-12 bg-info-2" />
						<Box class="w-12 h-12 bg-info-3" />
						<Box class="w-12 h-12 bg-info-4" />
						<Box class="w-12 h-12 bg-info-5" />
						<Box class="w-12 h-12 bg-info-6" />
						<Box class="w-12 h-12 bg-info-7" />
						<Box class="w-12 h-12 bg-info-8" />
						<Box class="w-12 h-12 bg-info-9" />
						<Box class="w-12 h-12 bg-info-10" />
						<Box class="w-12 h-12 bg-info-11" />
						<Box class="w-12 h-12 bg-info-12" />
					</Flex>
				</Box>

				<Box p="1">
					<Text family="mono" size="md" weight={400}>Warning</Text>

					<Flex gap="2">
						<Box class="w-12 h-12 bg-warning-1" />
						<Box class="w-12 h-12 bg-warning-2" />
						<Box class="w-12 h-12 bg-warning-3" />
						<Box class="w-12 h-12 bg-warning-4" />
						<Box class="w-12 h-12 bg-warning-5" />
						<Box class="w-12 h-12 bg-warning-6" />
						<Box class="w-12 h-12 bg-warning-7" />
						<Box class="w-12 h-12 bg-warning-8" />
						<Box class="w-12 h-12 bg-warning-9" />
						<Box class="w-12 h-12 bg-warning-10" />
						<Box class="w-12 h-12 bg-warning-11" />
						<Box class="w-12 h-12 bg-warning-12" />
					</Flex>
				</Box>

				<Box p="1">
					<Text family="mono" size="md" weight={400}>Danger</Text>

					<Flex gap="2">
						<Box class="w-12 h-12 bg-danger-1" />
						<Box class="w-12 h-12 bg-danger-2" />
						<Box class="w-12 h-12 bg-danger-3" />
						<Box class="w-12 h-12 bg-danger-4" />
						<Box class="w-12 h-12 bg-danger-5" />
						<Box class="w-12 h-12 bg-danger-6" />
						<Box class="w-12 h-12 bg-danger-7" />
						<Box class="w-12 h-12 bg-danger-8" />
						<Box class="w-12 h-12 bg-danger-9" />
						<Box class="w-12 h-12 bg-danger-10" />
						<Box class="w-12 h-12 bg-danger-11" />
						<Box class="w-12 h-12 bg-danger-12" />
					</Flex>
				</Box>
			</Box>
		</Box>

		<Separator orientation="horizontal" />

		<Box>
			<Text family="mono" size="lg" weight={600}>Button</Text>

			<Box p="2">
				<Box p="1">
					<Text family="mono" size="md" weight={400}>Default</Text>

					<Flex gap="2">
						<Box>
							<Button>default</Button>
						</Box>
					</Flex>
				</Box>

				<Box p="1">
					<Text family="mono" size="md" weight={400}>Color</Text>

					<Flex gap="2">
						<Box>
							<Button color="neutral">neutral</Button>
						</Box>
						<Box>
							<Button color="primary">primary</Button>
						</Box>
					</Flex>
				</Box>

				<Box p="1">
					<Text family="mono" size="md" weight={400}>State</Text>

					<Flex gap="2">
						<Box>
							<Button>enabled</Button>
						</Box>
						<Box>
							<Button disabled>disabled</Button>
						</Box>
					</Flex>
				</Box>

				<Box p="1">
					<Text family="mono" size="md" weight={400}>Link</Text>

					<Flex gap="2">
						<Box>
							<ButtonLink href={LINK.GITHUB} target="_blank">github</ButtonLink>
						</Box>
					</Flex>
				</Box>
			</Box>
		</Box>

		<Separator orientation="horizontal" />

		<Box>
			<Text family="mono" size="lg" weight={600}>Icon Button</Text>

			<Box p="2">
				<Box p="1">
					<Text family="mono" size="md" weight={400}>Default</Text>

					<Flex gap="2">
						<Box>
							<IconButton>
								<MoonIcon client:idle />
							</IconButton>
						</Box>
					</Flex>
				</Box>

				<Box p="1">
					<Text family="mono" size="md" weight={400}>Color</Text>

					<Flex gap="2">
						<Box>
							<IconButton color="neutral">
								<MoonIcon client:idle />
							</IconButton>
						</Box>
						<Box>
							<IconButton color="primary">
								<MoonIcon client:idle />
							</IconButton>
						</Box>
					</Flex>
				</Box>

				<Box p="1">
					<Text family="mono" size="md" weight={400}>State</Text>

					<Flex gap="2">
						<Box>
							<IconButton>
								<MoonIcon client:idle />
							</IconButton>
						</Box>
						<Box>
							<IconButton disabled>
								<MoonIcon client:idle />
							</IconButton>
						</Box>
					</Flex>
				</Box>

				<Box p="1">
					<Text family="mono" size="md" weight={400}>Link</Text>

					<Flex gap="2">
						<Box>
							<IconButtonLink href={LINK.GITHUB} target="_blank">
								<GithubIcon client:idle />
							</IconButtonLink>
						</Box>
					</Flex>
				</Box>
			</Box>
		</Box>

		<Separator orientation="horizontal" />

		<Box>
			<Text family="mono" size="lg" weight={600}>Link</Text>

			<Box p="2">
				<Box p="1">
					<Text family="mono" size="md" weight={400}>Default</Text>

					<Flex gap="2">
						<Box>
							<Link href="#">default</Link>
						</Box>
					</Flex>
				</Box>
			</Box>
		</Box>

		<Separator orientation="horizontal" />

		<Box>
			<Text family="mono" size="lg" weight={600}>Text</Text>

			<Box p="2">
				<Box p="1">
					<Text family="mono" size="md" weight={400}>Default</Text>

					<Flex gap="2">
						<Box>
							<Text>default</Text>
						</Box>
					</Flex>
				</Box>

				<Box p="1">
					<Text family="mono" size="md" weight={400}>Family</Text>

					<Flex gap="2">
						<Box>
							<Text family="sans">sans</Text>
						</Box>
						<Box>
							<Text family="mono">mono</Text>
						</Box>
					</Flex>
				</Box>
			</Box>
		</Box>

		<Separator orientation="horizontal" />

		<Box>
			<Text family="mono" size="lg" weight={600}>Loader</Text>

			<Box p="2">
				<Box p="1">
					<Text family="mono" size="md" weight={400}>Default</Text>

					<Flex gap="2">
						<Box>
							<Loader />
						</Box>
					</Flex>
				</Box>

				<Box p="1">
					<Text family="mono" size="md" weight={400}>Color</Text>

					<Flex gap="2">
						<Box>
							<Loader color="neutral" />
						</Box>
						<Box>
							<Loader color="primary" />
						</Box>
					</Flex>
				</Box>
			</Box>
		</Box>
	</Container>
</HTMLX>
