.root {
	@apply stroke-va-9;
}

@keyframes spinner-o {
	100% {
		transform: rotate(360deg);
	}
}

.g {
	transform-origin: center;
	animation: spinner-o 2s linear infinite;
}

@keyframes spinner-i {
	0% {
		stroke-dasharray: 0 150;
		stroke-dashoffset: 0;
	}
	47.5% {
		stroke-dasharray: 42 150;
		stroke-dashoffset: -16;
	}
	95%,
	100% {
		stroke-dasharray: 42 150;
		stroke-dashoffset: -59;
	}
}

.circle {
	stroke-linecap: round;
	animation: spinner-i 1.5s ease-in-out infinite;
}
