---
import type { HTMLAttributes } from "astro/types";

import propsplit from "propsplit";

import * as TextKlass from "./Text.klass";

import { getRootClassesx } from "~/components/classes";

type Props = HTMLAttributes<"div"> & TextKlass.Variants;

const [classes, props] = getRootClassesx(Astro.props);

const [recipe, attrs] = propsplit(props, TextKlass.Root.vk);

const className = classes(TextKlass.Root(recipe));
---

<div {...attrs} class={className}>
	<slot />
</div>
