---
import type { HTMLAttributes } from "astro/types";

import propsplit from "propsplit";

import { ClassesKeys, classex } from "./../../classes";

import { getLinkAttrs } from "./../attributes/link";
import type { LinkOptions } from "./../attributes/link";

type Props = HTMLAttributes<"a"> & LinkOptions;

const [classes, options, attrs] = propsplit(Astro.props, ClassesKeys, ["disabled"]);

const className = classex("root p-px text-info-9 font-w6 hover:underline outline-none outline-1 outline-offset-1 rounded-4 focus-visible:outline-info-10", classes);
---

<a {...attrs} class={className} {...getLinkAttrs(options)}>
	<slot />
</a>

<style>
	.root {
		&[data-disabled] {
			opacity: 0.7;
			@apply no-underline cursor-not-allowed;
		}
	}
</style>
