---
import type { HTMLAttributes } from "astro/types";

import propsplit from "propsplit";

import { getLinkAttrs } from "./../attributes/link";
import type { LinkOptions } from "./../attributes/link";

import { getRootClassesx } from "~/components/classes";

type Props = Omit<HTMLAttributes<"a">, "href"> & { href: string } & LinkOptions;

const [classes, props] = getRootClassesx(Astro.props);

const [options, attrs] = propsplit(props, ["disabled"]);

const className = classes("root");
---

<a {...attrs} class={className} {...getLinkAttrs(options)}>
	<slot />
</a>

<style>
	.root {
		color: hsl(var(--info-9));
		font-weight: 600;
		@apply outline-none outline-1 outline-offset-1 p-px rounded focus-visible:outline-info-10;

		&:hover {
			text-decoration: underline;
		}

		&[data-disabled] {
			opacity: 0.7;
			cursor: not-allowed;

			&:hover {
				text-decoration: none;
			}
		}
	}
</style>
